body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('/public/background.png');
  background-size: cover; */
}

@media (min-width: 768px) {
  body {
    background-image: url('/public/background.jpg');
  }
}

/* Background for smaller screens (mobile devices) */
@media (max-width: 767px) {
  body {
    background-image: url('/public/backgroundMobile.jpg');
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}
